h2 {
    font-size: 36px;
    padding-left: 40px;
}

#biryani > li:first-child {
    color: goldenrod;
}

#biryani > li:nth-child(2) {
    color: chocolate;
}

#biryani > li:nth-child(2) ul li {
    color: black;
}

#biryani > li:last-child {
    color: cyan;
}

#fighter > li {
    color: teal;
}

#lassi > li {
    color: black;
}

#lassi > li:nth-child(3) ul li {
    color: chocolate;
}